@tailwind base;
@tailwind components;
@tailwind utilities;
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: Arial, sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}


/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
* {
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE and Edge */
}

:root {
  --primary: #bb86fc;
  --primary-variant: #3700b3;
  --secondary: #03dac6;
  --background: #2e2e2e;
  --surface: #121212;
  --error: #cf6679;
  --on-primary: #000000;
  --on-secondary: #000000;
  --on-background: #e0e0e0;
  --on-error: #b4b4b4;
}


/* Apply dark mode styles */
body {
  background-color: var(--background);
  color: var(--on-background);
}
select, 
input[type="datetime-local"],
input:not(#skip) {
  appearance: none; /* Removes default styles */
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--on-background);
  color: var(--on-primary);
  border: none;
  padding: 12px 16px;
  border-radius: 12px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  cursor: pointer;
}

select {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='white'%3E%3Cpath fill-rule='evenodd' d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z' clip-rule='evenodd'/%3E%3C/svg%3E"); 
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 16px;
}

input:focus,
select:focus {
  outline: 2px solid var(--primary);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

input[type="datetime-local"] {
  padding: 12px 16px;
}

.date::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Makes date picker icon match dark theme */
}
.span {
  margin-left: 5px;
  color: var(--on-primary);
}